.avatar {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2rem;
    height: 2rem;

    &.avatar-xl {
        width: 4rem;
        height: 4rem;
    }
}