.card {
    .card-body {
        padding: 1.5rem 2rem 1.5rem;
    }
    .card-header {
        background-color: #fff;
        border-bottom: 0;
        padding: 1.5rem 2rem;

        .card-subtitle {
            color: $gray-600;
            font-size: $font-size-sm;
        }

        & + .card-body {
            padding-top: 0;
        }
    }
    &.card-shadow {
        border: none;
        box-shadow: 0 .3rem 1.4rem #eee;
    }   

    &.card-statistic {
        padding: .875rem 1rem;
        .card-body {
            padding-top: 1.5rem;
        }
        h5 {
            font-weight: 500;
            color: #474747
        }
    }
}
.accordion {
    .card {
        border: 1px solid $gray-200;
        border-radius: .4rem;
        .card-header {
            background-color: $gray-100;
            border-bottom: 1px;
        }
    }
}