#sidebar-wrapper {
    width: 310px;
    background-color: #edf1fa;
    height: 100vh;
    position: fixed;

    // Sidebar Header
    .sidebar-header {
        padding: 2rem;
        .sidebar-logo {
            font-size: 2rem;
        }
    }


    .sidebar-menu {
        padding: 0;
        margin: 0;

        .sidebar-title {
            font-size: $spacer * 1.2;
            font-weight: bold;
            color: #434343;
            padding: 0 2rem 1rem;
        }
    }
    .sidebar-item {
        list-style: none;
        width: 100%;
        align-items:center;
        overflow: hidden;

        &.active {
            & > a {
                color: #3d4d75;
                font-weight: bold;

                svg {
                    color: #1C08DA
                }
            }
        }

        &.has-sub {
            position: relative;

            &:after {
                content: url("data:image/svg+xml,%3Csvg width='1.5em' height='1.5em' viewBox='0 0 16 16' class='bi bi-chevron-compact-down text-muted' fill='currentColor' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' d='M1.553 6.776a.5.5 0 0 1 .67-.223L8 9.44l5.776-2.888a.5.5 0 1 1 .448.894l-6 3a.5.5 0 0 1-.448 0l-6-3a.5.5 0 0 1-.223-.67z'/%3E%3C/svg%3E");
                position:absolute;
                right: 1.2rem;
                top: 1.1rem;
                bottom: 0;
            }
        }

        &:not(.active) {
            & > .sidebar-link:hover {
                color: $gray-800;

                span {
                    transition: all .5s;
                    margin-left: 2px;
                }
            }
        }

        & > .sidebar-link {
            font-size: $spacer * 1.1;
            display: flex;
            align-items:center;
            color: #6b6f80;
            padding: 1rem 2rem;
            transition: all .2s;

            

            svg {
                margin-right: 1rem;
            }
        }

        .submenu {
            margin-left: 2.5rem;
            transition: max-height 1s;

            &:not(.active) {
                max-height: 0;
            }

            &.active {
                max-height: 999px;
            }
            
            .submenu-item {
                list-style: none;
                position: relative;
                padding: .6rem 1rem;
                
                a {
                    color: #888;
                    display:block;
                    transition: all .5s;

                    &:hover {
                        margin-left: 2px;
                        color: $gray-700;
                    }
                }

                &.active {
                    &:before {
                        content: '';
                        position: absolute;
                        width: .5rem;
                        height: .5rem;
                        border-radius: 50%;
                        background-color: $blue-500;
                        box-shadow: 1px 1px 2px rgba($blue-500,.2);
                        left: -.7rem;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                    a {
                        color: $blue-500;
                        text-shadow: 1px 1px 2px rgba($blue-500,.2);
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    #sidebar-wrapper {
        left: -310px;
    }
}