{% extends 'layouts/master.html' %}
{% set filename = "component-buttons.html" %}
{% set web_title = "Buttons" %}
{% block content %}

<div class="page-title">
    <h3>Buttons</h3>
    <nav class='breadcrumb-header' aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
          <li class="breadcrumb-item active" aria-current="page">Buttons</li>
        </ol>
      </nav>
</div>
<div class="page-content">
    <div class="row">
        <div class="col-12">
            <div class="card card-shadow">
                <div class="card-header">
                    <h5 class="card-title">Button Variants</h5>
                    <p>To use a color variant, use <code>.btn-{color}</code> with <code>.btn</code>.</p>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-primary mr-2 mb-1">Primary</button>
                    <button type="button" class="btn btn-secondary mr-2 mb-1">Secondary</button>
                    <button type="button" class="btn btn-success mr-2 mb-1">Success</button>
                    <button type="button" class="btn btn-danger mr-2 mb-1">Danger</button>
                    <button type="button" class="btn btn-warning mr-2 mb-1">Warning</button>
                    <button type="button" class="btn btn-info mr-2 mb-1">Info</button>
                    <button type="button" class="btn btn-light mr-2 mb-1">Light</button>
                    <button type="button" class="btn btn-dark mr-2 mb-1">Dark</button>

                    <button type="button" class="btn btn-link mr-2 mb-1">Link</button>
                </div>
                <hr class='mx-4'>
                <div class="card-header">
                    <h5 class="card-title">Light Button</h5>
                    <p>To use light style button, use <code>.btn-light-{color}</code> with <code>.btn</code>.</p>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-light-primary mr-2 mb-1">Primary</button>
                    <button type="button" class="btn btn-light-secondary mr-2 mb-1">Secondary</button>
                    <button type="button" class="btn btn-light-success mr-2 mb-1">Success</button>
                    <button type="button" class="btn btn-light-danger mr-2 mb-1">Danger</button>
                    <button type="button" class="btn btn-light-warning mr-2 mb-1">Warning</button>
                    <button type="button" class="btn btn-light-info mr-2 mb-1">Info</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="card card-shadow">
                <div class="card-header">
                    <h5 class="card-title">Outline Button</h5>
                    <p>To use outline button variant, use <code>.btn-outline-{color}</code> with <code>.btn</code>.</p>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-outline-primary mr-2 mb-1">Primary</button>
                    <button type="button" class="btn btn-outline-secondary mr-2 mb-1">Secondary</button>
                    <button type="button" class="btn btn-outline-success mr-2 mb-1">Success</button>
                    <button type="button" class="btn btn-outline-danger mr-2 mb-1">Danger</button>
                    <button type="button" class="btn btn-outline-warning mr-2 mb-1">Warning</button>
                    <button type="button" class="btn btn-outline-info mr-2 mb-1">Info</button>
                    <button type="button" class="btn btn-outline-dark mr-2 mb-1">Dark</button>
                </div>
                <hr class="mx-4">
                <div class="card-header">
                    <h5 class="card-title">Rounded Button</h5>
                    <p>To use rounded button variant, apply <code>.btn-rounded</code> class.</p>
                </div>
                <div class="card-body">
                    <button type="button" class="btn btn-rounded btn-primary mr-2 mb-1">Default</button>
                    <button type="button" class="btn btn-rounded btn-light-primary mr-2 mb-1">Light</button>
                    <button type="button" class="btn btn-rounded btn-outline-primary mr-2 mb-1">Outline</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-12">
            <div class="card card-shadow">
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="card-header">
                            <h5 class="card-title">Button With Icon</h5>
                            <p>You can add icon inside button.</p>
                        </div>
                        <div class="card-body">
                            <button type="button" class="btn btn-primary mr-2 mb-3">
                                <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                                    <use xlink:href="assets/vendors/bootstrap-icons/bootstrap-icons.svg#download"/>
                                </svg>
                                Download
                            </button>
                            <button type="button" class="btn btn-warning mr-2 mb-3">
                                <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                                    <use xlink:href="assets/vendors/bootstrap-icons/bootstrap-icons.svg#bell"/>
                                </svg>
                                Notification
                            </button>
                            <button type="button" class="btn btn-danger mr-2 mb-3">
                                <svg class="bi mr-1" width="16" height="16" fill="currentColor">
                                    <use xlink:href="assets/vendors/bootstrap-icons/bootstrap-icons.svg#trash"/>
                                </svg>
                                Delete
                            </button>
                        </div>
                    </div>
                    <div class="col-md-6 col-12">
                        <div class="card-header">
                            <h5 class="card-title">Icon Only</h5>
                            <p>You can only use <code>.btn-icon</code> when you only want icon in your button.</p>
                        </div>
                        <div class="card-body">
                            <button type="button" class="btn btn-icon btn-primary mr-2 mb-3">
                                <svg class="bi" width="18" height="18" fill="currentColor">
                                    <use xlink:href="assets/vendors/bootstrap-icons/bootstrap-icons.svg#download"/>
                                </svg>
                            </button>
                            <button type="button" class="btn btn-icon btn-warning mr-2 mb-3">
                                <svg class="bi" width="18" height="18" fill="currentColor">
                                    <use xlink:href="assets/vendors/bootstrap-icons/bootstrap-icons.svg#bell-fill"/>
                                </svg>
                            </button>
                            <button type="button" class="btn btn-icon btn-danger mr-2 mb-3">
                                <svg class="bi" width="18" height="18" fill="currentColor">
                                    <use xlink:href="assets/vendors/bootstrap-icons/bootstrap-icons.svg#trash"/>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}