{% extends 'layouts/master.html' %} {% set filename = "form-element-select.html"
%} {% set web_title = "Select" %} {% block content %}

<div class="page-title">
  <h3>Select</h3>
  <nav class="breadcrumb-header" aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="index.html">Dashboard</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Select</li>
    </ol>
  </nav>
</div>
<div class="page-content">
  <div class="row">
    <div class="col-12">
      <div class="card card-shadow">
        <div class="card-header">
          <h5 class="card-title">Select</h5>
          <p>A default select style</p>
        </div>
        <div class="card-body">
          <div class="">
            <select class="form-select" aria-label="Default select example">
              <option selected>Default select example</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>

          <div class="mt-4">
            <select
              class="form-select"
              multiple
              multiple-aria-label="Multiple select example"
            >
              <option selected>Multiple select example</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>

          <div class="mt-4">
            <select
              class="form-select"
              size="3"
              multiple-aria-label="Select with size example"
            >
              <option selected>Select with size example</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <div class="card card-shadow">
        <div class="card-header">
          <h5 class="card-title">Select Size</h5>
          <p>An select with size</p>
        </div>
        <div class="card-body">
          <div class="">
            <select
              class="form-select form-select-sm"
              aria-label=".form-select"
            >
              <option selected>Small</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>

          <div class="mt-4">
            <select class="form-select" aria-label=".form-select">
              <option selected>Normal</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>

          <div class="mt-4">
            <select
              class="form-select form-select-lg"
              aria-label=".form-select-lg"
            >
              <option selected>Large</option>
              <option value="1">One</option>
              <option value="2">Two</option>
              <option value="3">Three</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
