<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ web_title }}</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="assets/vendors/bootstrap/bootstrap.css" />
    <link
      rel="stylesheet"
      href="assets/vendors/perfect-scrollbar/perfect-scrollbar.css"
    />
    <link rel="stylesheet" href="assets/css/app.css" />
  </head>
  <body class="light">
    <div id="app">
      {% include 'partials/sidebar.html' %}
      <div id="main">
        {% block content %}{% endblock %}
      </div>
    </div>
    <script src="assets/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    {% block scripts %}{% endblock %}
    <script src="assets/js/app.js"></script>
  </body>
</html>
